@import "../../assets/styles/_Variables.scss";

.cancel-to-reset-flow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  img {
    height: 24px;
    margin-left: 4px;
  }
  p {
    font-family: $Regular !important;
    font-size: 14px;
  }
}
.want-to-cancel {
  width: 100%;
  p {
    width: 100%;
    text-align: center;
    font-family: $Regular;
    font-size: 14px;
  }
}
.cancel-modal-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 343px;
  margin: 32px auto 0px;
}
.cancel-modal-confirm-button {
  width: 65%;
}
.cancel-modal-cancel-button {
  width: calc(35% - 24px);
}
