@import "../../../assets/styles/_Variables.scss";

.specification-search-bar-btn {
  margin-left: 0px !important;
  margin-right: auto !important;
  & > div > div > div > div {
    display: inline-flex;
  }
}
.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17.5% auto 0px;
  flex-direction: column;
  p {
    color: $Grey-Dark1;
    text-align: center;
    font-family: $Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px auto 0px;
  }
}
.value-item {
  height: 24px;
  margin: 4px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}
.show-record-icon {
  margin-left: 32px;
}