@import "../../../assets/styles/_Variables.scss";

.table-group {
  height: fit-content !important;
}
.authority-authorities-list {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  > div {
    display: flex;
    margin-left: 18px;
    flex-wrap: wrap;
  }
  p {
    line-height: 19px;
    margin: 0px !important;
    color: $Logo-GreenDark;
    cursor: pointer;
  }
  .wrapContainer {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
}
.groups-search-bar-btn {
  margin-right: auto !important;
  margin-left: 0px !important;
  & > div > div > div > div {
    display: inline-flex;
  }
  button {
    width: 79px !important;
    height: 32px !important;
  }
}
.search-authority-group {
  > div {
    > span:first-child {
      padding-right: 24px !important;
    }
  }
}
