@use "../../login/styles/Login.module.scss";

.force-change-password-logo {
  margin: 5.86% auto 0;
}
.force-change-password-warning {
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.force-change-password-warning-text {
  color: var(--White);
  margin-right: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.force-change-password-username {
  @extend .login-input;
  background-color: rgba(255, 255, 255, 0.5) !important;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border: 1px solid var(--Grey-Light5);
  color: var(--White) !important;
  border-radius: 12px;
}
.force-change-password-submit {
  @extend .login-submit;
  margin-top: 16px;
}
.force-change-password-password {
  height: 48px;
}
.force-change-password-password input {
  color: var(--White);
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  direction: ltr;
}
.force-change-password-password:hover,
.force-change-password-password:focus,
.force-change-password-password:active {
  border: 1px solid var(--Green-Light6) !important;
  outline: none;
  box-shadow: none;
}
.force-change-password-level {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.weak-text {
  color: var(--Notif-Red);
  margin-left: 12px;
}
.medium-text {
  color: var(--Narenji-Light4);
  margin-left: 12px;
}
.strong-text {
  margin-left: 12px;
  color: var(--Green-Light5);
}
.pass-validation {
  width: 16px;
  height: 4px;
  margin-left: 4px;
  background: #a2a2a2;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border-radius: 1px;
  direction: ltr;
}
.weak-bg {
  background: var(--Notif-Red);
}
.medium-bg {
  background: var(--Narenji-Light4);
}
.strong-bg {
  background: var(--Green-Light5);
}
