@import "../../assets/styles/_Variables.scss";

.input-password {
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid $Grey-Dark1;
  padding: 5px 8px;
  align-items: center;
  direction: ltr;
  height: 48px;
}
.input-password input {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 19px !important;
  font-family: Vazir-regular-FD;
  text-align: left;
  background-color: transparent;
}
.input-password:hover,
.input-password:focus,
.input-password:active,
.input-password:visited {
  border: 1px solid $Logo-GreenDark !important;
  outline: none;
  box-shadow: none;
}
.input-password ::selection {
  border: 1px solid $Logo-GreenDark !important;
}
.input-password input::placeholder {
  color: $Grey-Dark1;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 19px !important;
  text-align: left;
}
